<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- v-for="變數 in 物件/陣列" -->
        <!-- 陣列數值, 陣列index -->
        <div 
            v-for="(itemValue, itemIndex) in skill" 
            :key="itemIndex"
        >
            <!-- <div v-if="itemValue === 'CSS'"> -->
            <template v-if="itemIndex%2 === 0">
                {{itemIndex + 1}}.{{ itemValue }}
            </template>
        </div>
        <hr>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    skill: ["HTML", "CSS", "Js"],
                }
            }
        }).mount('#app')
    </script>
</body>
<style>

</style>
</html>