*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#090502;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    font-weight: 500;
    color: #50321e;
}

h6{
    font-weight: 900;
    color: #90714f;
    margin: 0;
}

p{
    color: #90714f;
}

.commom{
    border: 4px double #90714f;
    background-color: #ded4bf;
    border-radius: 2px;
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
    width: 80%;
    max-width: 50rem;
    height: 32rem;
    border-width: 1rem;
    padding: 1rem;

    display: flex;
}

.tabs {
    flex-basis: calc(100% - 15rem);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tabsList{
    display:flex;
    flex-direction: row;
}
.tabsItem{
    padding: .25rem 1rem;
    margin:0 0.5rem 0 0;
    border-radius:0.5rem 0.5rem 0 0;
    border-bottom-width: 0;
    box-shadow:inset 0 -1.5rem 0.75rem -1rem #90714f;
    cursor:pointer;
    opacity:0.5;
    transition:100ms linear all;
}
.tabsItem.active{
    opacity:1;
    box-shadow:inset 0 -1.5rem 0.75rem -1rem #a57033;
}
.tabsContent {
    border-radius:0 0 0.5rem 0.5rem;
    padding:.5rem;
}

.tabsWrapper{
    width: 100%;
}